node_modules/*
dist/*
dist-kernel/*
*key*
*aiCoder/llmConfig*
*aiCoder/backups/*
tests/results/*
tests/test-run.log
test-results/*
.parcel-cache/*
.vscode/*
.aiCoder/prompts/customPrompts.json
.aiCoder/prompts/default-plan-prompt.md
.aiCoder/prompts/default-system-prompt.md
.aiCoder/prompts/plan-edit-prompt.md
.aiCoder/prompts/snippet-*
.aiCoder/backups/*
project.md
trianglesTest.js/results
about.html
junk.*
public/docs/*
public/help/*
public/fonts
public/assets/*
manifold-plus/build/*
manifold-plus/dist/*
pnpm-lock.yaml
pnpm-lock.yaml
